/*body{
    background-color: #020258;
}*/

.main-container{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.navigation{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    background-color: #dbb356;
}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logo-image{
    height: 100%;
    width: 40%;
}
.school-name{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.school-name p{
    font-size: 25px;
}
.school-name p:hover {
    cursor: pointer;
}
.places{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.places-container{
    height: 30%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    font-family: Arial;
    border-radius: 15px;
    background-color: #db362d;
    color: white;
}
.places-container:hover{
    cursor: pointer;
    transform: translateY(-5px);
    
}
.login{
    height: 50%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    font-family: Arial;
    border-radius: 15px;
    background-color: #dbb356;
    color: white;
}
.login img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.login:hover{
    cursor: pointer;
}

.pictures{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 25px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content{
    height: 100%;
    width: 50%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: -5px 3px 5px 4px rgba(0,0,0,0.11);
    
}
.slider {
    display: flex;
    width: 400%;
    background-image: url("./pictures/CTU_new_logo-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    display: none;
}
.text{
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dbb356;
}
.text p{
    font-size: 25px;
    font-family: Verdana;
    background-color: #dbb356;
}
.bottom-text p{
    font-size: 25px;
    font-family: Verdana;
}

.bottom-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    width: 100%;
    background-color: #dbb356;
}
.blur{
    filter: blur(5px);
    pointer-events: none;
}
.form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 40vh;
    top: -70vh;
    left: 38%;
    background-color: #dbb356;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 3px 5px 4px rgba(0,0,0,0.11);
    display: none;
}
.input{
    width: 95%;
    height: 15%;
    border-radius: 25px;
}
.login-icon{
    width: 20%;
    height: 20%;
    background-color: white;
}
.login-icon img{
    width: 100%;
    height: 100%;   
    object-fit: contain;
}
.input-container{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.login-btn{
    display: flex;
    width: 20%;
    height: 10%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    background-color: #db362d;
    color: white;
}
.login-btn:hover{
    cursor: pointer;
}




@keyframes slide{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}

}
